<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<link rel="stylesheet" href={{asset('styles/app.css')}}>
		<title>Home</title>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar__logo">
				<img src={{asset('images/logo.png')}} alt="logo">
			</div>
			<div class="navbar__links">
				<a href={{path('app_home')}}>Mobiles</a>
				<a href={{path('employe_home')}}>Employés</a>
				<a href={{path('lieu_home')}}>Lieux</a>
				<a href={{path('stock_home')}}>Stocks</a>
			</div>
		</div>
		<div class="maindiv">

			<div class="categorie">
				<div class='catTtitle'>
                <img src="https://img.icons8.com/ios/100/null/iphone-x.png"/>
					<a href={{path('app_home')}}>
						<h5>Mobiles</h5>
					</a>
				</div>
			</div>

			<div class="categorie">
				<div class='catTtitle'>
                <img src="https://img.icons8.com/ios/100/null/pro-display-xdr.png"/>
					<a href={{path('app_home')}}>
						<h5>Moniteurs</h5>
					</a>
				</div>
			</div>
			<div class="categorie">
				<img src="https://img.icons8.com/ios/100/null/mac-book-air.png"/>

				<div class='catTtitle'>
					<a href={{path('ordinateur_home')}}>
						<h5>Ordinateurs</h5>
					</a>

				</div>
			</div>
			<div class="categorie">
				<div class='catTtitle'>
                <img src="https://img.icons8.com/ios/100/null/print--v1.png"/>
					<a href={{path('imprimante_home')}}>
						<h5>Imprimantes</h5>
					</a>

				</div>
			</div>
		</div>
	</body>
</html>
